.subNavTop, .subNavBottom {
  background-color: #FF533D;
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subNavTop *, .subNavBottom * {
  height: 1rem;
  font-size: 0.8rem;
}

.subNavBottom * {
padding: 0px 10px 0px 10px;
}

.subNavTop > label {
  font-size: 0.8rem;
  padding-top: 4px;
}

.newArticleButton {
  position: absolute;
  height: 1.4rem;
  padding: 1px 6px 0 6px;
  font-size: 0.8rem;
  right: 8px;
  text-align: center;
  background-color: #AB987A;
  border: 0.1rem solid #0f1626;
  color: #f5f5f5;
  border-radius: 1rem;
  cursor: pointer;
}

.newArticleButton:hover {
  background-color: #0f1626;
  border: 0.1rem solid #AB987A;
}

.articleCard {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 90%;
  min-height: 400px;
  height: 40vh;
}

.articleImg {
  width: 100%;
  height: 60%;
}

.articleBox {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.articleInfo1 {
  background-color: #f5f5f5;
  width: 90%;
  height: 30%;
  font-size: 0.9rem;
}

.box1, .box2 {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around
}

.articleInfo2 {
  height: 60%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.articleInfo2 button {
  height: 1.4rem;
  padding: 1px 6px 0 6px;
  font-size: 0.8rem;
  text-align: center;
  background-color: #FF533D;
  border: 0.1rem solid #0f1626;
  color: #f5f5f5;
  border-radius: 1rem;
  cursor: pointer;
}

.subNavBottom button {
  height: 1.4rem;
  padding: 1px 6px 0 6px;
  font-size: 0.8rem;
  right: 8px;
  text-align: center;
  background-color: #AB987A;
  border: 0.1rem solid #0f1626;
  color: #f5f5f5;
  border-radius: 1rem;
  cursor: pointer;
}

.subNavBottom button:disabled {
  opacity: 1;
  cursor: not-allowed;
  background-color: #0f1626;
  border: 0.1rem solid #AB987A;
}


/* Tablet: 750px and up) */
@media only screen and (min-width: 750px) {
  .articlesMain {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly
  }

  .articleCard {
    width: 40%;
    min-height: 400px;
    height: 40vh;    
    margin-top: 2.5%;
    margin-bottom: 2.5%;
  }

  .articleInfo1 * {
    font-size: 0.7rem;
  }
}

/* Laptops/desktops: 992px and up */
@media only screen and (min-width: 992px) {
  .subNavTop > label {
    padding-top: 4px;  
    padding-left: 10px;
    padding-right: 4px;
  }

  .articleInfo1 * {
    line-height: 2rem;
    font-size: 1rem;
  }
}