.mainHeader {
  display: none;
}

.mainHeader.active {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #AB987A;
  color: #f5f5f5;
  height: 60px;
  width: 100%;
}

.mainHeader h1 {
  font-family: vision2;
  font-size: 1.5rem;
  width: 80%;
  color: #f5f5f5;
}

/* Tablet: 750px and up) */
@media only screen and (min-width: 750px) {
  .mainHeader h1 {
    font-family: vision3;
    font-size: 2rem;
  }
}

/* Laptops/desktops: 992px and up */
@media only screen and (min-width: 992px) {
  .mainHeader h1 {
    font-family: vision3;
    font-size: 2.5rem;
  }
}