.topicCard {
  margin-bottom: 10%;
  min-height: 300px;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 5%;
  width: 100%;
  cursor: pointer;
}

.topicCard h3 {
  font-size: 1rem;
  padding: 0.4rem 0.7rem 0.3rem 0.7rem;
  border: 0.1rem solid #FF533D;
  color: #0f1626;
  border-radius: 1rem;
}

.topicCard h2 {
  font-size: 1.5rem;
  width: 80%
}

/* Tablet: 750px and up) */
@media only screen and (min-width: 750px) {
  .topicMain {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly
  }

  .topicCard {
    width: 40%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    height: 40vh;
  }
}

/* Laptops/desktops: 992px and up */
@media only screen and (min-width: 992px) {
}