/* Mobile-First: Screens below 750px */
.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.App * {
  font-family: vision1;
}

.mainDisplay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

main > .card {
    background-color: white;
    border: 1px solid #AB987A;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

main > .card:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Tablet: Screens above 700px and below 750px */
@media only screen and (min-width: 700px) {
}

/* Non-mobile: Screens above 750px */
@media only screen and (min-width: 750px) {
  .mainDisplay {
    width: 80%;
  }
}